<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo">Smart OBD2</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/healthReport">Health Check</a></li>
            <li><a href="#">Trip Analysis</a></li>
            <li><a href="#"><%= user.first_name %></a></li>
            
        </ul>
    </div>
</nav>
<div class="container">
    <div id="modded" class="row">
        <div class="col s12">
            <h3 class="center pink-text">Car Health Report</h3>
            <p>Click them to open them and view more details!</p>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">

                        <div class="progress blue lighten-4">
                            <span>Progress<i class="material-icons">info_outline</i></span>
                            <div class="determinate blue" style= "width:50%; animation: grow 2s";><%= user.car_health[0].iginition %>%</div>
                        </div>

                    </div>
                    <div class="collapsible-body">This is information about the progress bar above. In our testing
                        it
                        was 50% awesome but this may not account for it's overall awesomeness which other estimates
                        place at around 100%.<br>Source: A guy on the internet</div>
                </li>
            </ul>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">

                        <div class="progress blue lighten-4">
                            <span>Length<i class="material-icons">info_outline</i></span>
                            <div class="determinate blue" style="width: <%= user.car_health[0].fuel %>%; animation: grow 2s;"><%= user.car_health[0].fuel %>%</div>
                        </div>

                    </div>
                    <div class="collapsible-body">This is information about the progress bar above. In our testing
                        it
                        was 75% awesome but this may not account for it's overall awesomeness which other estimates
                        place at around 100%.<br>Source: A guy on the internet</div>
                </li>
            </ul>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">

                        <div class="progress blue lighten-4">
                            <span>Percentage<i class="material-icons">info_outline</i></span>
                            <div class="determinate blue" style="width: 20%; animation: grow 2s;">20%</div>
                        </div>

                    </div>
                    <div class="collapsible-body">This is information about the progress bar above. In our testing
                        it
                        was 75% awesome but this may not account for it's overall awesomeness which other estimates
                        place at around 100%.<br>Source: A guy on the internet</div>
                </li>
            </ul>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">

                        <div class="progress blue lighten-4">
                            <span>Completion<i class="material-icons">info_outline</i></span>
                            <div class="determinate blue" style="width: 65%; animation: grow 2s;">65%</div>
                        </div>

                    </div>
                    <div class="collapsible-body">This is information about the progress bar above. In our testing
                        it
                        was 65% awesome but this may not account for it's overall awesomeness which other estimates
                        place at around 100%.<br>Source: A guy on the internet</div>
                </li>
            </ul>
        </div>
    </div>
</div>